*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{

    color:white;
 }

 .lema-da-loja{
    color:white;
}

#home{
    background-image: url(img/teste.jpg);
}

.cabeçalho{
    background-image: url(img/universo.jpeg);
}

.ponto-de-referencia{
    position: relative;

}

#menu {
    display:block;
}

#menu > ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}

#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
}